<launch>
    <arg name="use_sim_time" default="false"/>

    <!--These numbers were calculated using the Matlab script in the scripts folder
        of the victor_hardware_interface package -->
    <group ns="static_transform_publishers">
        <node pkg="tf2_ros" type="static_transform_publisher" name="victor_torso_mocap_tf_shim_broadcaster" required="true"
              args="-0.019501 -0.01246 -0.85626
                    -0.0071384 0.0056896 0.0159 0.99983
                    mocap_VictorTorso_VictorTorso victor_root">
            <param name="use_sim_time" value="$(arg use_sim_time)"/>
        </node>
    </group>
</launch>
