<launch>
    <arg name="use_sim_time" default="false"/>
    <arg name="use_husky"    default="false"/>

    <group ns="static_transform_publishers" unless="$(arg use_husky)">
        <node pkg="tf2_ros" type="static_transform_publisher" name="val_pedestal_mocap_tf_shim_broadcaster" required="true"
              args="0.0742 0.034 -0.0703
                    0                   0   -0.707106781186547  0.707106781186548
                    mocap_ValPedestal_ValPedestal val_root">
            <param name="use_sim_time" value="$(arg use_sim_time)"/>
        </node>
    </group>

    <group ns="static_transform_publishers" if="$(arg use_husky)">
        <node pkg="tf2_ros" type="static_transform_publisher" name="val_pedestal_mocap_tf_shim_broadcaster" required="true"
              args="-0.0185 -0.0254 -0.0381
                    0                   0   -0.707106781186547  0.707106781186548
                    mocap_ValOnHusky_ValOnHusky val_root">
            <param name="use_sim_time" value="$(arg use_sim_time)"/>
        </node>
    </group>
</launch>
