<launch>
    <arg name="use_sim_time" default="false"/>

    <group ns="static_transform_publishers">
        <node pkg="tf2_ros" type="static_transform_publisher" name="val_root_mocap_tf_shim_broadcaster" required="true"
              args="0 0 0 0 0 0 mocap_val_root_val_root base_link">
            <param name="use_sim_time" value="$(arg use_sim_time)"/>
        </node>
    </group>
</launch>
