<launch>
    <group ns="static_transform_publishers">
        <!-- Note that when specifying orientation with 3 numbers, it's yaw pitch roll -->
        <node pkg="tf2_ros" type="static_transform_publisher" name="kinect2_roof_mocap_tf_shim_broadcaster" required="true"
              args="0 0 0 0 0 0
                    mocap_kinect2_roof_kinect2_roof kinect2_roof_link"/>

        <node pkg="tf2_ros" type="static_transform_publisher" name="kinect2_victor_head_mocap_tf_shim_broadcaster" required="true"
              args="0 0 0
                    0 0 0
                    mocap_Kinect2VictorHead_Kinect2VictorHead kinect2_victor_head_link">
        </node>

        <node pkg="tf2_ros" type="static_transform_publisher" name="kinect2_tripodA_mocap_tf_shim_broadcaster" required="true"
              args="0 0 0 0 0 0
                    mocap_kinect2_tripodA_kinect2_tripodA kinect2_tripodA_link">
        </node>
    </group>

</launch>
