<launch>

  <arg name="output" default="screen"/>
  <arg name="tracker_hostname" default="192.168.2.161"/>
  <arg name="tracker_port" default="801"/>
  <arg name="tracker_name" default="mocap"/>
  <arg name="object_tracker_topic" default="mocap_tracking"/>
  <arg name="marker_tracker_topic" default="mocap_marker_tracking"/>
  <arg name="tracker_origin_frame_name" default="mocap_world"/>
  <arg name="stream_mode" default="ServerPush"/>
  <arg name="override_timestamps" default="false"/>

  <arg name="publish_raw_markers" default="false"/>

  <node pkg="lightweight_vicon_bridge" type="lightweight_vicon_bridge_node" name="lightweight_vicon_bridge" output="$(arg output)">
    <param name="tracker_hostname" type="string" value="$(arg tracker_hostname)"/>
    <param name="tracker_port" type="string" value="$(arg tracker_port)"/>
    <param name="tracker_frame_name" type="string" value="$(arg tracker_origin_frame_name)"/>
    <param name="tracker_name" type="string" value="$(arg tracker_name)"/>
    <param name="tracker_topic" type="string" value="$(arg object_tracker_topic)"/>
    <param name="stream_mode" type="string" value="$(arg stream_mode)"/>
  </node>

  <node if="$(arg publish_raw_markers)" pkg="lightweight_vicon_bridge" type="raw_marker_bridge_node" name="raw_marker_bridge" output="$(arg output)">
    <param name="tracker_hostname" type="string" value="$(arg tracker_hostname)"/>
    <param name="tracker_port" type="string" value="$(arg tracker_port)"/>
    <param name="tracker_frame_name" type="string" value="$(arg tracker_origin_frame_name)"/>
    <param name="tracker_name" type="string" value="$(arg tracker_name)"/>
    <param name="tracker_topic" type="string" value="$(arg marker_tracker_topic)"/>
    <param name="stream_mode" type="string" value="$(arg stream_mode)"/>
  </node>

  <node pkg="lightweight_vicon_bridge" type="tf_publisher_node" name="mocap_tf_publisher_node" output="$(arg output)">
    <param name="tracker_topic" type="string" value="$(arg object_tracker_topic)"/>
    <param name="override_timestamps" type="bool" value="$(arg override_timestamps)"/>
  </node>

</launch>
