<launch>
     

    <arg name="output" default="screen"/>
    <arg name="tracker_hostname" default="10.10.10.5"/>
    <arg name="tracker_port" default="801"/>
    <arg name="tracker_name" default="mocap"/>
    <arg name="object_tracker_topic" default="mocap_tracking"/>
    <arg name="marker_tracker_topic" default="mocap_marker_tracking"/>
    <arg name="tracker_origin_frame_name" default="mocap_world"/>
    <arg name="stream_mode" default="ServerPush"/>
    <arg name="override_timestamps" default="false"/>
    <arg name="use_sim_time" default="false"/>

    <arg name="publish_raw_markers" default="false"/>
    <arg name="publish_label_markers" default="false"/>

    <node pkg="lightweight_vicon_bridge" exec="lightweight_vicon_bridge_node" name="lightweight_vicon_bridge" output="$(var output)">
        <param name="tracker_hostname" value="$(var tracker_hostname)"/>
        <param name="tracker_port" value="$(var tracker_port)"/>
        <param name="tracker_frame_name" value="$(var tracker_origin_frame_name)"/>
        <param name="tracker_name"  value="$(var tracker_name)"/>
        <param name="tracker_topic"  value="$(var object_tracker_topic)"/>
        <param name="stream_mode" value="$(var stream_mode)"/>
        <param name="use_sim_time" value="$(var use_sim_time)"/>
    </node>


    <node pkg="lightweight_vicon_bridge" exec="tf_publisher_node" name="mocap_tf_publisher_node" output="$(var output)">
        <param name="tracker_topic" value="$(var object_tracker_topic)"/>
        <param name="override_timestamps" value="$(var override_timestamps)"/>
        <param name="use_sim_time" value="$(var use_sim_time)"/>
    </node>


</launch>
